<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 medium-offset-3">
      <!-- Header -->
      <div class="accordion-header">
        <h1>Daily Planner <small>For <%= Time.now.strftime("%b %d %Y") %></small></h1>
      </div>
      <!-- Checklist Flag Buttons -->
      <% @students_today = LessonParticipant.where(lesson_id: @lessons).pluck(:student_id) %>
      <% @flags = Flag.where(student_id: @students_today).where(closed: [false, nil]).all %>

      <div class="expanded button-group large">
        <a class="button success" data-open="complete_checklist">Complete Daily Checklist</a>
        <a class="button alert" data-open="complete_flags">View Daily Flags</a>
      </div>

      <!-- Accordion -->
      <div class="list-lesson">
      <ul class="accordion " data-accordion data-allow-all-closed="true" style="margin-top:-18px;">
        <% @lessons.each do |lesson| %>
          <%= render 'planner/lesson', lesson: lesson %>
        <% end %>
      </ul>
      <%= will_paginate @lessons %>
      </div>
      <!-- / Accordion -->
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- Checklist Modal -->
<div class="reveal" id="complete_checklist" data-reveal>
    <div class="grid-x grid-margin-x">
      
      <div class="cell small-12 medium-12"> 
        <h3>Generic checklists</h3>
        <table class="ui table stackable inverted">
          <% @generic_checklists.each do |generic_checklist| %>
          <tr>
            <td>
              <h4><%= generic_checklist.title %></h4> 
              <p><%= generic_checklist.description %></p> 
            </td>
            <td>
              <div class="ui form massive">
                <div class="inline field">
                  <div class="ui checkbox">
                    <%= link_to 'Completed', generic_checklist_check_list_path(generic_checklist.id), :remote => true, :class => 'delete_generic_checklist button success expanded', data: {generic_checklist: generic_checklist.id}, style: "margin-bottom:0;" %> 
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div> 

<!-- Flag Modal -->

<div class="reveal" id="complete_flags" data-reveal>
  <% if @flags.count < 1 && @task_flags.count < 1 %>
    <div class="text-center">
      <h2 style="font-size: 40px;">Woohoo!</h2>
      <h4>You've addressed all flags for today</h4>
    </div>
  <% else %>
    <div class="header">Current Flags </div>
  <% end %>
  <div class="scrolling content">
  	<table class="ui table stackable inverted">
  		<% @task_flags.each do |task_flag| %>
        <tr>
          <td><span class="label">Sechdualed Task</span></td>
          <td>
            <h4><%= task_flag.title %></h4>  
          </td>
          <td>
            <div class="button success expanded" data-open="complete_flag_<%= task_flag.id %>">COMPLETED</div>
            <div id="complete_flag_<%= task_flag.id %>" class="reveal" data-reveal>
              <h3>To close this task please add a note</h3>
              <%= render 'tasks/edit_form', task_flag: task_flag %>
            </div>
          </td>
        </tr>
      <% end %>
  		<% @flags.each do |flag| %>
  		<tr class="flag_hide_<%= flag.id %>">
        <td><span class="label alert">Automated Flag</span></td>
  			<td>
  			  <h4 class="student_trigger_<%=flag.student_id %>" style="margin-bottom: 0"><%= flag.title %></h4>
  			</td>
  			<td>
          <div class="button success expanded" data-open="complete_flag_<%= flag.id %>">COMPLETED</div>
          <div id="complete_flag_<%= flag.id %>" class="reveal" data-reveal>
            <h3>Please add a note</h3>
            <%= render 'flags/edit_form', flag: flag %>
          </div>
  			</td>
  		</tr>

      

  		<% end %>
  	</table>
  	   
  	    
  	  </div>
  	</div> 
  </div>
</div>

<!-- /MODAL -->



