<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 medium-offset-3">
      <!-- Header -->
      <div class="accordion-header">
        <% @mytime = Time.now + 10.hours %>
        <h1>Daily Planner <small>For <%= @mytime.strftime("%b %d %Y") %></small></h1>
      </div>
      <!-- Checklist Flag Buttons -->
      <% @students_today = LessonParticipant.where(lesson_id: @lessons).pluck(:student_id) %>
      <% @flags = Flag.where(student_id: @students_today).where(closed: [false, nil]).all %>

      <div class="expanded button-group large">
        <a class="button success" data-open="complete_checklist">Complete Shift Checklist</a>
        <a class="button alert" data-open="complete_flags">View Daily Flags</a>
      </div>

      <!-- Accordion -->
      <div class="list-lesson">
      <ul class="accordion " data-accordion data-allow-all-closed="true" style="margin-top:-18px;">
        <% @lessons.order("army_time desc").each do |lesson| %>
            <%= render 'planner/lesson', lesson: lesson %>
        <% end %>
      </ul>
      <%= will_paginate @lessons %>
      </div>
      <!-- / Accordion -->
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- Checklist Modal -->
<div class="reveal" id="complete_checklist" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="grid-x grid-margin-x" style="margin-top: 40px;">
      
      <div class="cell small-12 medium-12"> 
        <table class="ui table stackable inverted">
          
          <% if @generic_checklists_am_pres.present? || @generic_checklists_am_posts.present? %>
          <tr style="background-color: #29353d; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h2>MORNING Session Checklist</h2>
            </td>
          </tr>
          <% end %>
          <% if @generic_checklists_am_pres.present? %>
            
            <tr style="background-color: #2e4554; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h4>PRE session checklist</h4>
            </td>
          </tr>
          <% end %>
          <% @generic_checklists_am_pres.each do |generic_checklist| %>
            <%= render 'checklist_inner', generic_checklist: generic_checklist %>
          <% end %>

          <% if @generic_checklists_am_posts.present? %>
            <tr style="background-color: #2e4554; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h4>POST session checklist</h4>
            </td>
          </tr>
          <% end %>
          <% @generic_checklists_am_posts.each do |generic_checklist| %>
            <%= render 'checklist_inner', generic_checklist: generic_checklist %>
          <% end %>


          <% if @generic_checklists_pm_pres.present? || @generic_checklists_pm_posts.present? %>
          <tr style="background-color: #29353d; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h2>AFTERNOON Session Checklist</h2>
            </td>
          </tr>
          <% end %>
          <% if @generic_checklists_pm_pres.present? %>
            <tr style="background-color: #2e4554; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h4>PRE session checklist</h4>
            </td>
          </tr>
          <% end %>
          <% @generic_checklists_pm_pres.each do |generic_checklist| %>
            <%= render 'checklist_inner', generic_checklist: generic_checklist %>
          <% end %>

          <% if @generic_checklists_pm_posts.present? %>
            <tr style="background-color: #2e4554; color: #fff; font-size: 20px; padding: 10px 0;">
            <td colspan="2">
                <h4>POST session checklist</h4>
            </td>
          </tr>
          <% end %>
          <% @generic_checklists_pm_posts.each do |generic_checklist| %>
            <%= render 'checklist_inner', generic_checklist: generic_checklist %>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div> 

<!-- Flag Modal -->

<div class="reveal" id="complete_flags" data-reveal>
  <% if @flags.count < 1 && @task_flags.count < 1 && @other_tasks.count < 1 %>
    <div class="text-center">
      <h2 style="font-size: 40px;">Woohoo!</h2>
      <h4>You've addressed all flags for today</h4>
    </div>
  <% else %>
    <div class="header">Current Flags </div>
  <% end %>
  <div class="scrolling content">
  	<table class="ui table stackable inverted">
  		<% @task_flags.each do |task_flag| %>
        <tr>
          <td><span class="label">Sechdualed Task</span></td>
          <td>
            <h4><%= task_flag.title %></h4>  
          </td>
          <td>
            <div class="button success expanded" data-open="complete_flag_<%= task_flag.id %>">COMPLETED</div>
            <div id="complete_flag_<%= task_flag.id %>" class="reveal" data-reveal>
              <h3>To close this task please add a note</h3>
              <%= render 'tasks/edit_form', task_flag: task_flag %>
            </div>
          </td>
        </tr>
      <% end %>
      <% @other_tasks.each do |task_flag| %>
        <tr>
          <td><span class="label">Sechdualed Task</span></td>
          <td>
            <h4><%= task_flag.title %></h4>  
          </td>
          <td>
            <div class="button success expanded" data-open="complete_flag_<%= task_flag.id %>">COMPLETED</div>
            <div id="complete_flag_<%= task_flag.id %>" class="reveal" data-reveal>
              <h3>To close this task please add a note</h3>
              <%= render 'tasks/edit_form', task_flag: task_flag %>
            </div>
          </td>
        </tr>
      <% end %>

  		<% @flags.each do |flag| %>
  		<tr class="flag_hide_<%= flag.id %>">
        <td><span class="label alert">Automated Flag</span></td>
  			<td>
  			  <h4 class="student_trigger_<%=flag.student_id %>" style="margin-bottom: 0"><%= flag.title %></h4>
  			</td>
  			<td>
          <div class="button success expanded" data-open="complete_flag_<%= flag.id %>">COMPLETED</div>
          <div id="complete_flag_<%= flag.id %>" class="reveal" data-reveal>
            <h3>Please add a note</h3>
            <%= render 'flags/edit_form', flag: flag %>
          </div>
  			</td>
  		</tr>

      

  		<% end %>
  	</table>
  	   
  	    
  	  </div>
  	</div> 
  </div>
</div>

<!-- /MODAL -->



