<p id="notice"><%= notice %></p>

<p>
  <strong>Header 1 img:</strong>
  <%= @template_custom.header_1_img %>
</p>

<p>
  <strong>Header 1 overlay color:</strong>
  <%= @template_custom.header_1_overlay_color %>
</p>

<p>
  <strong>Header 1 subtxt:</strong>
  <%= @template_custom.header_1_subtxt %>
</p>

<p>
  <strong>Header 1 primarytxt:</strong>
  <%= @template_custom.header_1_primarytxt %>
</p>

<p>
  <strong>Header 1 btntxt:</strong>
  <%= @template_custom.header_1_btntxt %>
</p>

<p>
  <strong>Quotebar 1 subtxt:</strong>
  <%= @template_custom.quotebar_1_subtxt %>
</p>

<p>
  <strong>Quote bar primarytxt:</strong>
  <%= @template_custom.quote_bar_primarytxt %>
</p>

<p>
  <strong>Quote bar btntxt:</strong>
  <%= @template_custom.quote_bar_btntxt %>
</p>

<p>
  <strong>Content 6col leftimg1:</strong>
  <%= @template_custom.content_6col_leftimg1 %>
</p>

<p>
  <strong>Content 6col leftimg2:</strong>
  <%= @template_custom.content_6col_leftimg2 %>
</p>

<p>
  <strong>Content 6col righttxt:</strong>
  <%= @template_custom.content_6col_righttxt %>
</p>

<p>
  <strong>Content 6col rightsubtxt:</strong>
  <%= @template_custom.content_6col_rightsubtxt %>
</p>

<p>
  <strong>Content 6col rightprimarytxt:</strong>
  <%= @template_custom.content_6col_rightprimarytxt %>
</p>

<p>
  <strong>Content 6col rightimg1:</strong>
  <%= @template_custom.content_6col_rightimg1 %>
</p>

<p>
  <strong>Content 6col rightimg2:</strong>
  <%= @template_custom.content_6col_rightimg2 %>
</p>

<p>
  <strong>Content 6col lefttxt:</strong>
  <%= @template_custom.content_6col_lefttxt %>
</p>

<p>
  <strong>Content 6col leftsubtxt:</strong>
  <%= @template_custom.content_6col_leftsubtxt %>
</p>

<p>
  <strong>Content 6col leftprimarytxt:</strong>
  <%= @template_custom.content_6col_leftprimarytxt %>
</p>

<p>
  <strong>Quotebox 1 subtxt:</strong>
  <%= @template_custom.quotebox_1_subtxt %>
</p>

<p>
  <strong>Quotebox 1 primarytxt:</strong>
  <%= @template_custom.quotebox_1_primarytxt %>
</p>

<p>
  <strong>Quotebox 1 btntxt:</strong>
  <%= @template_custom.quotebox_1_btntxt %>
</p>

<p>
  <strong>Services 1 primarytxt:</strong>
  <%= @template_custom.services_1_primarytxt %>
</p>

<p>
  <strong>About 1 img1:</strong>
  <%= @template_custom.about_1_img1 %>
</p>

<p>
  <strong>About 1 img2:</strong>
  <%= @template_custom.about_1_img2 %>
</p>

<p>
  <strong>About 1 subtxt:</strong>
  <%= @template_custom.about_1_subtxt %>
</p>

<p>
  <strong>About 1 primarytxt:</strong>
  <%= @template_custom.about_1_primarytxt %>
</p>

<p>
  <strong>About 1 txt:</strong>
  <%= @template_custom.about_1_txt %>
</p>

<%= link_to 'Edit', edit_template_custom_path(@template_custom) %> |
<%= link_to 'Back', template_customs_path %>
