<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-3" style="padding-top: 20px;">
    <%= render 'students/student_details', student: @student, multiple_students: @multiple_students, multiple: @multiple, students: @students, posts: @posts %>
    <% if params.has_key?(:show_multiple) %>
    <div style="width: 100%; background-color: #2B353A; height: 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;"></div>
    <% else %>
    <%= render 'students/student_skills', student: @student %>
    <% end %>
  </div>
  <div class="cell small-12 medium-5">
    <%= render 'students/student_timeline', student: @student, posts: @posts %>
  </div>
  <div class="cell small-12 medium-4">

    <% if params.has_key?(:show_multiple) %>
      <% @students.each do |student| %>
        <div class="student-details-header-light" >
          <h4 style="margin-bottom: 0;"><%= student.full_name.pluralize(2) %> Future Lessons</h4>
        </div>
        <% @lessons = LessonParticipant.where(student_id: student.id).all %>
        <%= render 'students/student_lessons', lessons: @lessons %>
      <% end %>
    <% else %>
    <div class="student-details-header-light" >
      <h4 style="margin-bottom: 0;">Future Lessons Booked</h4>
    </div>
    <% @lessons = LessonParticipant.where(student_id: @student.id).all %>
    <%= render 'students/student_lessons', lessons: @lessons %>
    <% end %>

  </div>
</div>

