<%= form_with(model: generic_checklist, local: true) do |form| %>
  <% if generic_checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(generic_checklist.errors.count, "error") %> prohibited this generic_checklist from being saved:</h2>

      <ul>
      <% generic_checklist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.text_field :site_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
