<div class="grid-container" style="margin-top: 20px;">
	<div class="grid-x">
		<div class="cell small-12">
			<h2>High Risk Tasks</h2>
			
			<table class="table">
				<thead>
					<th>Avatar</th>
					<th>Task</th>
					<th>Student</th>
					<th>Flag raised</th>
					<th>Student Started</th>
					<th>Complete</th>

				</thead>
				<tbody>
					<% @risk_tasks.each do |task| %>
						<tr>
							<td>
							<div class="lesson-bubble">
								
								<% if task.student.avatar.attached? %>
								  <%= image_tag(task.student.avatar) %>
								  <% else %>
				                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
								<% end %>
							</div>
							</td>
							<td><%= task.title %></td>
							<td><%= link_to task.student.full_name %></td>
							<td>Flag raised <%= time_ago_in_words(task.created_at) %> ago</td>
							<td>Student started <%= time_ago_in_words(task.student.created_at) %> ago</td>
							<td>
							<%= form_for task, :url => task_complete_task_path(task) do |f| %>
							<%= f.submit "Complete Task",class: "button small success expanded", style: "margin-top: 10px;" %>
							<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
