<%= render 'user_profiles/navigation' %>

<div class="grid-x grid-margin-x" style="padding: 20px;">
	<div class="cell small-12 medium-4">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 health-score text-center">
				<div class="health-header">
				<h2 style="margin-bottom: 0">Health Score <%= @result %></h2>
				</div>
				<div style="background-color: #fff;">
				<% if @result <= 25 %>
					<i class="fas fa-sad-cry" style="color: #D60000"></i>
				<% elsif @result > 25 && @result <= 80 %>
					<i class="fas fa-sad-tear" style="color: #ffae00"></i>
				<% elsif @result > 80 %>
					<i class="fas fa-smile-wink" style="color: #39BA82"></i>
				<% end %>
				</div>

				<table class="table">
					<thead>
						<th class="text-center">What you need to do</th>
					</thead>
					
					<% if @out_tasks > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Complete all your outstanding tasks", daily_planner_path %></td>
					</tr>
					<% end %>
					<% if @out_messages > 0 || @out_comments > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Respond to your messages", inbox_new_path %></td>
					</tr>
					<% end %>
					<% if @out_flags > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Address Flags", daily_planner_path %></td>
					</tr>
					<% end %>
				</table>
			</div>
			
		</div>
	</div>
	<div class="cell small-12 medium-4">
		<div class="grid-x grid-margin-x">
			<div class="cell small-4">
				<h2><i class="fa fa-exclamation-triangle"></i> HIGH RISK TASKS</h2>
				<% if @risk_tasks.count == 0 %>
				<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #14764a; color: #white; padding: 40px; margin-top: 10px;"><%= @risk_tasks.count %></div>
				<% else %>
				<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #bf0101; color: #white; padding: 40px; margin-top: 10px;"><%= @risk_tasks.count %></div>
				<% end %>	
			</div>

			<div class="cell small-4">
				<h2><i class="fa fa-check"></i> My Personal Tasks</h2>
				<div class="text-center" style="font-size: 50px; font-weight: 700"><%= @tasks.count %></div>
			</div>
			
			<div class="cell small-4">
				<h2>All Open Tasks</h2>
				<div class="text-center" style="font-size: 50px; font-weight: 700"><%= @all_tasks.count %></div>
			</div>
		</div>
		<h2>My Tasks</h2>
		<table class="table">
			<thead>
				<th><h5>Task</h5></th>
				<th><h5>Complete</h5></th>
			</thead>
			<tbody>
				<% @tasks.each do |task| %>
					<tr>
						<td width="50%" style="font-size: 12px;"><%= task.title %></td>
						<td>
						<%= form_for task, :url => task_complete_task_path(task) do |f| %>
						<%= f.submit "Complete Task",class: "button small success expanded", style: "margin-top: 10px;" %>
						<% end %>
						</td>
					</tr>
				<% end %>
				<% @risk_tasks.each do |task| %>
					<tr>
						<td width="50%" style="font-size: 12px;"><%= task.title %></td>
						<td>
						<%= form_for task, :url => task_complete_task_path(task) do |f| %>
						<%= f.submit "Complete Task",class: "button small success expanded", style: "margin-top: 10px;" %>
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>


	</div>
	<div class="cell small-4">
		<h3>Check a teachers dashboard</h3>
		<%= form_tag user_profiles_teacher_path, :method => 'get' do %>
		<div class="grid-x">
			<div class="cell small-8">
				<%= select_tag :teacher_search, options_for_select(@teachers.pluck(:email), params[:id]),:include_blank => 'All Teachers' %>
			</div>
			<div class="cell small-4">
				<%= submit_tag "Search Teacher", class: "button success expanded" %>
			</div>
		</div>
		<% end %>
		<table>
			<thead>
				<th>Teacher</th>
				<th>Health Score</th>
				<th>Review Score</th>
			</thead>
			<tbody>
				<% @teachers.each do |teacher| %>
				<tr>
					<td><%= teacher.email %></td>
					<td>100</td>
					<td>80%</td>
				</tr>
				<% end %>
			</tbody>
		</table>				
	</div>
</div>