<%= render 'user_profiles/navigation' %>

<div class="grid-x grid-margin-x" style="padding: 20px;">
	<div class="cell small-12 medium-4">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 health-score text-center">
				<div class="health-header">
				<h2 style="margin-bottom: 0">Health Score <%= @result %></h2>
				</div>
				<div style="background-color: #fff;">
				<% if @result <= 25 %>
					<i class="fas fa-sad-cry" style="color: #D60000"></i>
				<% elsif @result > 25 && @result <= 80 %>
					<i class="fas fa-sad-tear" style="color: #ffae00"></i>
				<% elsif @result > 80 %>
					<i class="fas fa-smile-wink" style="color: #39BA82"></i>
				<% end %>
				</div>

				<table class="table">
					<thead>
						<th class="text-center">What you need to do</th>
					</thead>
					
					<% if @out_tasks > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Complete all your outstanding tasks", daily_planner_path %></td>
					</tr>
					<% end %>
					<% if @out_messages > 0 || @out_comments > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Respond to your messages", inbox_new_path %></td>
					</tr>
					<% end %>
					<% if @out_flags > 0 %>
					<tr>
						<td><i class="fa fa-check" style="font-size: 20px; color: #19935c"></i> <%= link_to "Address Flags", daily_planner_path %></td>
					</tr>
					<% end %>
				</table>
			</div>
			
		</div>
	</div>
	<div class="cell small-12 medium-8">
		<div class="grid-x grid-margin-x">
			<div class="cell small-4">
				<h2><i class="fa fa-exclamation-triangle"></i> HIGH RISK TASKS</h2>
				<%= link_to user_profiles_high_risks_tasks_path do %>
					<% if @risk_tasks.count == 0 %>

					<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #14764a; color: white; padding: 40px; margin-top: 10px;"><%= @risk_tasks.count %></div>
					<% else %>
					<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #bf0101; color: white; padding: 40px; margin-top: 10px;"><%= @risk_tasks.count %></div>
					<% end %>
				<% end %>	
			</div>

			<div class="cell small-4">
				<h2>Open Flags</h2>
				<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #fff; color: #black; padding: 40px; margin-top: 10px;"><%= @flags.count %></div>
			</div>

			<div class="cell small-4">
				<h2><i class="fa fa-check"></i> My Personal Tasks</h2>

				<div class="text-center" style="font-size: 50px; font-weight: 700; background-color: #fff; color: #black; padding: 40px; margin-top: 10px;"><%= @tasks.count %></div>
			</div>
			
			
		</div>
		
	</div>

</div>