<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flag.title %>
</p>

<p>
  <strong>Number of days:</strong>
  <%= @flag.number_of_days %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
