<div class="grid-x grid-padding-x lessons">
	<div class="cell small-12">
		<div class="grid-x lessons-header">
			<div class="cell auto" style="padding: 0 20px;">
				<h1>
					<%= @lesson.site.title %> - <%= @lesson.level.title %> class<br />
					<small>
						<%= @lesson.lesson_time %>
						with <%= @lesson.user.full_name %>
					</small>
				</h1>
			</div>
		</div>
		<table class="table">

			<thead>
				<tr height="100">
				<th width="200" class="center aligned topside-ninety">Student</th>
				<% @skills.each do |skill| %>
					<th width="20px" class="topside-ninety"><%= truncate(skill.title, :length => 15) %></th> 
				<% end %>
			</tr>
			</thead>
			
			<tbody >
				<% @lesson_participants.each do |lesson_participant| %>
				<% if lesson_participant.student.current_level == @lesson.level_id %>
					<% @student_skills = StudentSkill.where(student_id: lesson_participant.student.id).where(level_id: lesson_participant.student.current_level).all %>
					<tr>
						<td class="center aligned" style="padding: 10px">
								<%= lesson_participant.student.first_name %> <%= lesson_participant.student.first_name %>
		
						</td>
						<% @student_skills.order("id desc").each do |student_skill| %>
							<td style="text-align: center;" width="20px">
								<strong><%= student_skill.competency_level.title.split.map(&:first).join.upcase %></strong>
							</td>
						<% end %>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>




