<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Swimdeck" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <%= csrf_meta_tags %>
    
  </head>

  <body>
   



<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text-logo"><%= link_to "CITY CENTRAL", root_path %></li>
      <% if user_signed_in? %>
        <% if current_user.client != true %>
        <li><%= link_to "SwimDeck", daily_planner_path %></li>
        <li><%= link_to "My Lessons", lessons_path %></li>
        <li><%= link_to "View Students", students_path%></li>
        <% else %>
        <% @client = Client.where(user_id: current_user.id).last %>
        <li><%= link_to "My Children", client_path(@client) %></li>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button alert") %>        
        </li>
      <% else %>
        <li>
        <%= link_to('Login', control_room_cockpit_path, class: "button success")  %>  
        </li>
      <% end %>
    </ul>
  </div>
  <%= render 'layouts/top_header_nav' %>
</div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="gray-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
